.popeye-modal-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  overflow-y: auto;
  background-color: rgba(76, 147, 234, 0.7); }
  .popeye-modal-container.ng-enter {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.7s; }
    .popeye-modal-container.ng-enter .popeye-modal {
      -webkit-transform: translate(-50%, 50%);
          -ms-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%);
      opacity: 0;
      transition: -webkit-transform 0.4s, opacity 0.4s;
      transition: transform 0.4s, opacity 0.4s; }
    .popeye-modal-container.ng-enter.ng-enter-active {
      background-color: rgba(76, 147, 234, 0.7); }
      .popeye-modal-container.ng-enter.ng-enter-active .popeye-modal {
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        opacity: 1; }
  .popeye-modal-container.ng-leave {
    background-color: rgba(76, 147, 234, 0.7);
    transition: background-color 0.7s; }
    .popeye-modal-container.ng-leave .popeye-modal {
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      opacity: 1;
      transition: -webkit-transform 0.4s, opacity 0.4s;
      transition: transform 0.4s, opacity 0.4s; }
    .popeye-modal-container.ng-leave.ng-leave-active {
      background-color: rgba(255, 255, 255, 0); }
      .popeye-modal-container.ng-leave.ng-leave-active .popeye-modal {
        -webkit-transform: translate(-50%, 50%);
            -ms-transform: translate(-50%, 50%);
                transform: translate(-50%, 50%);
        opacity: 0; }
  .popeye-modal-container .popeye-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 40%;
    display: block;
    width: 60%;
    border-radius: 3px;
    border: none;
    z-index: 6;
    padding: 2em 1.5em 1.5em 1.5em;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
    .popeye-modal-container .popeye-modal a.popeye-close-modal {
      position: absolute;
      top: 1em;
      right: 1em;
      font-weight: 100;
      text-decoration: none;
      color: inherit; }
      .popeye-modal-container .popeye-modal a.popeye-close-modal::after {
        content: "\d7"; }
