$popeye-z-index: 5;
$popeye-bg: rgba(76, 147, 234, 0.7);
$transparent: rgba(255, 255, 255, 0);
$popeye-container-anim-duration: 0.7s;
$popeye-modal-anim-duration: 0.4s;

.pg-modal-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: $popeye-z-index;
  overflow-y: auto;
  background-color: $popeye-bg;

  &.ng-enter {
    background-color: $transparent;
    -moz-transition: background-color $popeye-container-anim-duration;
    -o-transition: background-color $popeye-container-anim-duration;
    -webkit-transition: background-color $popeye-container-anim-duration;
    transition: background-color $popeye-container-anim-duration;

    .pg-modal {
      transform: translateY(300%);
      opacity: 0;
      -moz-transition: transform $popeye-modal-anim-duration, opacity $popeye-modal-anim-duration;
      -o-transition: transform $popeye-modal-anim-duration, opacity $popeye-modal-anim-duration;
      -webkit-transition: transform $popeye-modal-anim-duration, opacity $popeye-modal-anim-duration;
      transition: transform $popeye-modal-anim-duration, opacity $popeye-modal-anim-duration;
    }

    &.ng-enter-active {
      background-color: $popeye-bg;

      .pg-modal {
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }

  &.ng-leave {
    background-color: $popeye-bg;
    -moz-transition: background-color $popeye-container-anim-duration;
    -o-transition: background-color $popeye-container-anim-duration;
    -webkit-transition: background-color $popeye-container-anim-duration;
    transition: background-color $popeye-container-anim-duration;

    .pg-modal {
      transform: translateY(0%);
      opacity: 1;
      -moz-transition: transform $popeye-modal-anim-duration, opacity $popeye-modal-anim-duration;
      -o-transition: transform $popeye-modal-anim-duration, opacity $popeye-modal-anim-duration;
      -webkit-transition: transform $popeye-modal-anim-duration, opacity $popeye-modal-anim-duration;
      transition: transform $popeye-modal-anim-duration, opacity $popeye-modal-anim-duration;
    }

    &.ng-leave-active {
      background-color: $transparent;

      .pg-modal {
        transform: translateY(300%);
        opacity: 0;
      }
    }
  }

  .pg-modal {
    position: relative;
    display: block;
    visibility: visible;
    width: 60%;
    margin: 30px auto 0 auto;
    border-radius: 3px;
    border: none;
    z-index: 6;
    padding: 2em 1.5em 1.5em 1.5em;
    background: white;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
}
