$popeye-z-index: 5;
$popeye-bg: rgba(76, 147, 234, 0.7);
$transparent: rgba(255, 255, 255, 0);
$popeye-container-anim-duration: 0.4s;
$popeye-modal-anim-duration: 0.4s;

body.popeye-modal-open {
  overflow: hidden;
}

.popeye-modal-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: $popeye-z-index;
  overflow-y: auto;
  background-color: $popeye-bg;
  text-align: center; // horizontal alignment for the modal itself

  &.ng-enter {
    animation: popeye-fade-in $popeye-container-anim-duration;

    .popeye-modal {
      animation: popeye-slide-up $popeye-modal-anim-duration;
    }
  }

  &.ng-leave {
    animation: popeye-fade-out $popeye-container-anim-duration;

    .popeye-modal {
      animation: popeye-slide-down $popeye-modal-anim-duration forwards;
    }
  }

  /* "ghost" element to use for vertical alignment
    (see https://css-tricks.com/centering-in-the-unknown/) */
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .popeye-modal {
    position: relative;
    text-align: left; // reset text-align (I'd use "initial", but IE doesn't support it)
    vertical-align: middle;
    display: inline-block;
    width: 60%;
    border-radius: 3px;
    border: none;
    z-index: 6;
    padding: 2em 1.5em 1.5em 1.5em;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

    a.popeye-close-modal {
      position: absolute;
      top: 1em;
      right: 1em;
      font-weight: 100;
      text-decoration: none;
      color: inherit;

      &::after {
        content: "\d7";
      }
    }
  }
}

@keyframes popeye-slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes popeye-slide-down {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes popeye-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes popeye-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
